/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Importing Google fonts */
.shadows-into-light-regular {
  font-family: 'Shadows Into Light', system-ui;
  font-weight: 400;
  font-style: normal;
}

.abeezee-regular {
  font-family: 'ABeeZee', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.abeezee-regular-italic {
  font-family: 'ABeeZee', sans-serif;
  font-weight: 400;
  font-style: italic;
}

/* Body Styles */
body {
  /*  font-family: 'Helvetica Neue', Arial, sans-serif; */
  line-height: 1.6;
  color: #222;
  overflow-x: hidden;

  background-image: linear-gradient(
    rgb(165, 244, 244),
    rgba(52, 119, 186, 0.726)
  );
}

h1 {
  font-family: 'Shadows Into Light';
  font-size: 9vw;
  font-weight: bold;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-left: 9vw;
  white-space: wrap;
  display: inline-block; /* this might mess everything up, please come back and check it */
}
h2 {
  font-family: 'Shadows Into Light';
  font-size: 6vw;
  font-weight: bold;
  /* play around with padding using relative units */
  padding: 10px;
}

h3 {
  font-family: 'ABeeZee', sans-serif;
  font-size: 3.5vw;
}

h4 {
  font-family: 'ABeeZee', sans-serif;
  font-size: 2em;
}

p {
  font-family: 'ABeeZee', sans-serif;
  font-size: 1em;
}

/* Nav bar Styles */
nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.71);
  border-radius: 0px 0px 10px 10px;
  font-family: 'ABeeZee', sans-serif;
  font-weight: bold;
  font-size: 1em;
  overflow: hidden;
}

.nav-links {
  color: purple;
  list-style-type: none;
  display: flex;
}

.nav-links li:hover {
  /* play around color! */
  background-color: rgb(180, 231, 202);
  transition: 0.5s;
}

.nav-links a {
  padding: 20px;
  text-decoration: none;
  font-weight: bold;
}

.nav-icons {
  list-style-type: none;
  display: flex;
  margin-top: 5px;
}

.nav-icons li {
  margin: 0px 10px;
}

.nav-icons img {
  max-width: 1em;
  align-items: center;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Main Styles */
#intro {
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-around;
  text-align: center;
}

/* do I need this anymore? 
.text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: nowrap;
}*/

#profile-pic {
  max-width: 75%;
  height: auto;
  margin-right: -50px;
}
/* Article Styles */
.articles-section {
  display: flex;
  /* make relative */
  gap: 20px;
  flex-wrap: wrap;
  align-items: space-between;
  /* make relative */
  margin: 0px 10px 0px 10px;
}
article {
  /* make relative */
  border-radius: 10px;
  background-color: rgba(200, 246, 246, 0.422);
  /* make relative? I'm not sure if necessary! */
  flex: 1 1 calc(33.333% - 20px);
  /* make relative */
  padding: 10px;
  box-sizing: border-box;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}
article img {
  max-width: 100%;
  height: auto;
  /* make relative */
  border-radius: 10px;
}

article p {
  font-size: 1.75vw;
  margin-top: 10px;
  /*font-family: 'Helvetica Neue', Arial, sans-serif;*/
}

.photo-credit {
  font-size: 0.5em;
  margin-top: auto;
}

.photo-credit #extra-credit {
  margin-top: none;
}
/* styles for the video hover over */
.past-media {
  position: relative;
  float: left;
  width: 100%;
}

#past-image {
  position: relative;
  display: inline-block;
}

#past-image img {
  display: block;
  width: 100%;
  height: auto;
  transition: 1s;
}

#past-video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  opacity: 0;
  transition: 1s;
}

/*.past-media #past-image:hover {
  display: none;
}*/

.past-media:hover #past-video {
  display: block;
  opacity: 1;
}

/*.past-media:hover #piano-picture {
  transition: 1s;
}*/

#past-video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

/* styles for the present video hover over */
.present-media {
  position: relative;
  float: left;
  width: 100%;
}

#present-image {
  position: relative;
  display: inline-block;
}

#present-image img {
  display: block;
  width: 100%;
  height: auto;
  transition: 1s;
}

#present-video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  opacity: 0;
  transition: 1s;
}

/*.present-media #present-image:hover {
  display: none;
}*/

.present-media:hover #present-video {
  display: block;
  opacity: 1;
}

/*.present-media:hover #piano-picture {
  transition: 1s;
}*/

#present-video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

/* styles for the future video hover over */
.future-media {
  position: relative;
  float: left;
  width: 100%;
}

#future-image {
  position: relative;
  display: inline-block;
}

#future-image img {
  display: block;
  width: 100%;
  height: auto;
  transition: 1s;
}

#future-video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  opacity: 0;
  transition: 1s;
}

/*.future-media #future-image:hover {
  display: none;
}*/

.future-media:hover #future-video {
  display: block;
  opacity: 1;
}

/*.future-media:hover #piano-picture {
  transition: 1s;
}*/

#future-video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

/*#past-image:hover {
  /*content: url(assets/rd-web-background-cropped.mp4);
  /* transition: all 400ms ease; 
}*/

/* #past-image:hover #past-video {
  display: block;
} */

label {
  /* make relative */

  margin-left: 10px;
  font-family: 'ABeeZee';
}

input {
  border-radius: 5px;
  display: flex;
  margin-left: 10px;
}

textarea {
  border-radius: 5px;
  display: flex;
  margin-left: 10px;
  font-family: Arial;
  border-style: solid;
  resize: none;
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid gray;
  border-bottom: 2px solid gray;
}

button {
  margin-left: 10px;
  padding: 4px;
  border-radius: 5px;
  font-family: 'ABeeZee';
}

#message {
  padding: 10px;
  text-wrap: wrap;
}

/*link states*/
a:before {
  color: rgba(22, 22, 127, 0.603);
}

a:visited {
  color: rgba(13, 103, 13, 0.912);
}

a:hover {
  color: purple;
}

a {
  text-decoration: none;
}

/*footer styles*/
footer {
  font-size: 0.7em;
  text-align: center;
  padding: 10px;
}
